


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: white;
}
.link:hover,
.link:focus {
    color: #00a1ff;
}
button {
    font-family: inherit;
    cursor: pointer;
}
img {
    display: block;
}

.container {
    width: 1158px;
    padding: 0;
    margin: 0 auto;
}

.section {
    padding-top: 0;
    padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*===================header=================*/

.header {
    min-height: 776px;
    background-image: url(../images/section-one/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
}
.header-list {
    display: flex;
    gap: 51px;
    margin-right: 32px;
}

/*========header-section==========*/


.hero {
    padding-top: 190px;
    padding-bottom: 40px;
}
.hero-text {
    color: white;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 1.2px;
}
.hero-text-two {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 29px;
}
.hero-btn {
    display: inline-flex;
    color: white;
    width: 208px;
    height: 54px;
    border-radius: 80px; 
    border: 1px solid rgba(255, 255, 255, .3);
    background: black;
    align-items: center;
    justify-content: center;
    padding: 17px, 33px;
    margin-bottom: 122px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #00a1ff;
    color: white;
}

.container-text{
    color: white;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.section-menu{
    display: flex;
    gap: 150px;
}
/*============ steps==========*/
.steps {
    padding: 120px 0;
    background-color: #fff;
}
.steps-title {
    margin: 0 auto 57px;
    max-width: 720px;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.2px;
    text-align: center;
}
.steps-list {
    display: flex;
    counter-reset: steps;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 758px;
}
.steps-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps-item--line {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.steps-item::before {
    counter-increment: steps;
    content: counter(steps);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 28px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #014c48;
}
.steps__item--line::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
    width: 100%;
    height: 1px;
    background: rgba(53, 83, 98, .2);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.steps-descr {
    margin: 0;
    max-width: 142px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: rgba(53, 83, 98, .8);
}

/*======== approach ==========*/

.approach-top {
    padding: 80px 0;
    background-color: #f7f8f8;
}
.app-top {
    display: flex;
    justify-content: space-between;
}
.approach-left{
    padding-top: 33px;
    max-width: 460px;
}
.approach-titel {
   margin: 0 0 13px;
   font-weight: 400;
   font-size: 22px;
   line-height: 22px;
   color: #003331;
}
.approach-text {
    margin: 0 0 37px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(53, 83, 98, 0.8);
}
.approach-right {
    display: flex;
    gap: 10px;
}
.approach-btn {
    border-radius: 80px;
    border: 1px solid rgba(53, 83, 98, .2);
    padding: 16px 34px;
    color: #00413e;
    justify-content: center;
    line-height: 20px;
    letter-spacing: .02px;
    text-align: center;
    font-size: 13px;
}
.approach-btn:hover,
.approach-btn:focus {
    background: #00a1ff;
}

.approach-bottom {
    padding: 24px 0;
    background-color: #fff;
}
.approach-list{
    display: flex;
    gap: 95px;
}
.approach-item {
    border-top: 1px solid rgba(53, 83, 98, .3);
    color: rgba(53, 83, 98, 0.8);
    padding-top: 16px;
    padding-left: 32px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    background-position: left top 15px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}
.approach-item--TEDTalks {
    background-image: url(../images/icons/Ted.png);
}
.approach-item--TheNewYorkTimes {
background-image: url(../images/icons/TNYT.png);
}
.approach-item--StateScoop {
background-image: url(../images/icons/SS.png);
}
.approach-item--AssociatedPress {
background-image: url(../images/icons/AP.png);
}
.approach-item--Time {
background-image: url(../images/icons/Time.png);
}
.approach-item--freethink {
background-image: url(../images/icons/Freethink.png);
}

/*============ Info ==========*/

.info {
    display: flex;
    height: 680px;
    background-color: #001414;
}
.info::before {
    content: "";
    flex-shrink: 0;
    width: 287px;
    height: 100%;
    background-image: url(../images/info/image-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.info::after {
    content: "";
    flex-shrink: 0;
    width: 287px;
    height: 100%;
    background-image: url(../images/info/image-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.info-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #003331;
    border-left: 1px solid #003331;
}
.info-text {
    max-width: 542px;
}
.info-title {
    margin: 0 auto 21px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
}
.info-descr {
    margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

/*===========Partners=========*/

.partners {
    padding: 16px 0;
}
.partners-container {
    display: flex;
    align-items: center;
    gap: 6px;
}
.partners-title {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: rgba(53, 83, 98, 0.8);
}
.partners-list {
    display: flex;
    align-items: center;
    gap: 12px;
}
.partners-more {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: rgba(53, 83, 98, 0.8);
}
/*=============Information=======*/
.graphics {
    width: 100%;
    background-color: #f4f5f5;
}
.information {
    padding-bottom: 140px;
    background-color: #f4f5f5;
}
.information-text {
    display: flex;
}
.information-title {
    width: 80%;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 1.2px;
    margin-right: 70px;
}
.information-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.information-item {
    width: 264px;
}
.information-subtitle {
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #003331;
}
.information-descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(53, 83, 98, 0.8);
}

/*=============Press=======*/

.press {
    padding-top: 88px;
    padding-bottom: 88px;
    background-color: #fff;
}
.press-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}
.press-titel {
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 1.2px;
    color: #00413e;
}
.press-btn {
    border: 1px solid rgba(53, 83, 98, .2);
    border-radius: 80px;
    color: #00413e;
    padding: 17px 33px;
    line-height: 20px;
    letter-spacing: .02px;
    text-align: center;
    font-size: 13px;
}
.press-btn:hover,
.press-btn:focus {
    background: #00a1ff;
    color: white;
}
.press-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}
.press-item {
    width: 350px;
    height: 180px;
    border: 1px solid rgba(53, 83, 98, .2);
    border-radius: 20px;
    padding: 15px;
}

.press-card {
    display: flex;
    gap: 10px;
    padding: 18px 0 18px 32px;
    }
.press-card-autor {
    margin: -18px 0;
    padding: 18px 0 18px 32px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(53, 83, 98, 0.8);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left top 15px;
}
.press-card-date {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: rgba(53, 83, 98, 0.8);
    background-position: left top 15px;
}
.press-card-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: inherit;
}

.press-card-autor--ted {
    background-image: url(../images/icons/Ted.png);
}
.press-card-autor--CN {
background-image: url(../images/icons/CN.png);
}
.press-card-autor--DJ {
background-image: url(../images/icons/DJ.png);
}
.press-card-autor--TNYT {
background-image: url(../images/icons/TNYT.png);
}
.press-card-autor--C1 {
background-image: url(../images/icons/C1.png);
}
.press-card-autor--RC {
background-image: url(../images/icons/RC.png);
}

/* =========Where========= */

.where {
    padding-top: 155px;
    padding-bottom: 133px;
    background-color: #001f1f;
}

.where-content {
    grid-column: 4 span;
}

.grid {
 display: grid;
 column-gap: 32px; 
 grid-template-columns: repeat(12, 1fr);  
}

.itm2 {
grid-column: 7 / 2 span;
}

.where-title {
    margin: 0 0 43px;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 1.2px;
    color: #fafafa;
}
.where-descr {
    margin: 0 0 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #fafafa;
}
.where-btn {
    border: none;
    font-size: 14px;
    background: #00665f;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    padding: 17px 33px;
    line-height: 20px;
    letter-spacing: .02px;
    text-align: center;
    color: #fff;
}
.where-btn:hover,
.where-btn:focus {
    background: #00a1ff;
    color: white;
}

.where-map-img {
    height: auto;
    object-fit: cover;
}

/*===========footer===========*/

.footer-top {
    padding-top: 112px;
    padding-bottom: 137px;
    background-color: #001414;
}
.footer-content {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}
.footer-title {
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7d9798;
}

.footer-top-menu {
    margin-right: 50px;
    grid-column: 2 span;
}

.itm4 {
    grid-column: 11 / 2 span;
}
.footer-top-list {
    width: 165px;
    height: 30px;
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 63px;
    background-color: #000f0f;
}
.footer-bottom-container {
    display: flex;
    justify-content: space-between;
}
.footer-bottom-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
.footer-bottom-text {
    display: flex;
    align-items: center;
}
.footer-copy{
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    color: #e5ecec;
}
.footer-right {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #e5ecec;
}
